# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.DS_Store
index-original.html
main-original.css
reset-sanatize-normalize-boilerplate-original.css
main-original.js