/*
	*Main CSS para implementacion directa de sitios.
	
	*La adaptacion del bolierplate y este codigo son esfuerzo del eqipo de ID.A libre
	*con agradecimientos especiales a Juan Palma encargado de la implementacion.
*/

/* ==========================================================================
	Parametros Globales
========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
/* font-family: 'Sen', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700;900&display=swap'); */
/* font-family: 'League Spartan', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&display=swap');
/* font-family: 'Barlow Condensed', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300;1,700&display=swap'); */
/* font-family: 'Cormorant Garamond', serif; */

:root{
	--colorBackDark: #1a1918;
	--colorBackColor: #393735;
	--colorPrincipal: #a34f29;
	--colorSecundario: #3a434d;
	--colorTexto: var(--colorBackColor);
	--margenAncho: 76%;
	--margenPadding: 2em;
}
h1, h2{
	font-family: 'Sen', sans-serif;
	font-weight: 700;
}
body, button, input, select, textarea, ::after, ::before{
	font-family: 'Barlow Condensed', sans-serif;
	color: var(--colorTexto);
	letter-spacing: 0.05em;
	font-weight: 400;
}

	
@-ms-viewport {
	width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
}

@viewport {
	width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
}






/* ==========================================================================
	Codigo de ejemplos !!
========================================================================== */
/* Bordes Redondeados */
/*
	border-radius : 6px;
	-moz-border-radius : 6px;
	-webkit-border-radius : 6px;
*/

/* Sombras de objetos */
/*
	box-shadow : 1px 3px 4px rgba(0, 29, 40, 0.18);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=3, Color='#001D28') ;
*/
	
/* Animaciones de trancicion */
/*
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
*/

/* comportamiento de borde y padding en objetos a su interior o exterior */
/*
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
*/








#vCard{
	width: 1px;
	height: 1px;
	clip: rect(1px 1px 1px 1px);
	position: absolute;
	opacity: 0.1;
	overflow: hidden;
}







/* ==========================================================================
	Estilos visuales para la Agencia o el Desarrollador
========================================================================== */
#idalibreLogo {
	position: relative;
}
	#idalibreLogo a{
		display: block;
		position: relative;
	}
		#idalibreLogo a img{
			width: 58px;
			height: 58px;
			object-fit: contain;
			object-position: center;
		}
		
#juanFooter {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 12%;
    bottom: 0px;
    box-sizing: border-box;
    background-color: #fff;
}
	#juanFooter .interno{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		color: #45413c;
    	font-weight: 300;
	}
		#juanFooter a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			text-decoration: none;
			color: #90502f;
			font-weight: 300;
		}
			#juanFooter img {
				width: 48px;
				height: 48px;
				object-fit: contain;
				object-position: center;
			}
			span.juanpalma {
				white-space: nowrap;
				display: inline-flex;
				margin: 0 2px;
			}








/* ==========================================================================
	Estilos visiales para elementos GENERALES
========================================================================== */

#fondo_body{
	background : var(--colorBackDark);
	background-size: cover;
	background-attachment: fixed;
}




.desaparece{
	display: none !important;
	visibility: hidden !important;
	width: 1px !important;
	height: 1px !important;
	position: absolute !important;
	overflow: hidden !important;
	opacity: 0 !important;
	clip: rect(1px 1px 1px 1px) !important;
	
}
.ocultar{
	display: none !important;
}
.opacidad0{
	opacity: 0 !important;
}
.opacidad1{
	opacity: 1 !important;
}
.animar{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.animar1-4{
	-webkit-transition: all 1.4s ease-in-out;
	-moz-transition: all 1.4s ease-in-out;
	-o-transition: all 1.4s ease-in-out;
	-ms-transition: all 1.4s ease-in-out;
	transition: all 1.4s ease-in-out;
}
h1{
	width: 100%;
	font-size: 150%;
    text-align: left;
	line-height: 1;
    color: var(--colorPrincipal);
}
h2{
	font-size: 140%;
    font-weight: 400;
	color: var(--colorPrincipal);
	margin-bottom: 22px;
}
.margenL{
	width: var(--margenAncho);
    padding: 0 var(--margenPadding);
    box-sizing: border-box;
}
.margenG{
	width: var(--margenAncho);
    padding: var(--margenPadding);
    box-sizing: border-box;
}

input[type="text"]{
	width: 100%;
    height: 49px;
    margin-bottom: 3em;
}
input[type="button"]{
	margin-left: 1em;
}
input[type="button"]:hover{
	background-color: var(--colorPrincipal);
}




/* Estilos para el boton de navegacion */
.navicon { position: absolute; left: 0px; top: 16vh; }
#nav-toggle { position: absolute; right: 13px; top: 0; }
#nav-toggle { cursor: pointer; padding: 10px 30px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { cursor: pointer; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; height: 3px; width: 30px; background: rgba(255,255,255,0.4); position: absolute; display: block; content: ''; }
#nav-toggle:hover span, #nav-toggle:hover span:before, #nav-toggle:hover span:after{background: rgba(255,255,255,1);}
#nav-toggle span:before { top: -10px; }
#nav-toggle span:after { bottom: -10px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; }
#nav-toggle.active span { background-color: transparent; }
#nav-toggle.active span:before, #nav-toggle.active span:after { top: 0; }
#nav-toggle.active span:before { transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); }
#nav-toggle.active span:after { transform: translateY(-10px) rotate(-45deg); -webkit-transform: translateY(-10px) rotate(-45deg); -ms-transform: translateY(-10px) rotate(-45deg); top: 10px; }





#esfera{
	transform: rotate(165deg) rotateY(36deg);
}
	.pzEsfera {
		display: block;
		position: absolute;
		width: 400px;
		height: 400px;
		background-color: #090e10;
		left: -200px;
		top: -200px;
		border-radius: 50%;
		transform: rotateX(-66deg) rotateY(0deg) scale(1.45);
		border: 2px solid;
	}
	@keyframes c1 {
		0%{
			top: -400px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(0.8) translateZ(40px);
		}
		35%{
			border: 2px solid #00927a;
		}
		50%{
			top: -420px;
			border: 2px solid #00ffd5;
			transform: rotateX(-66deg) rotateY(0deg) scale(0.7) translateZ(40px);
		}
		65%{
			border: 2px solid #00927a;
		}
		100%{
			top: -400px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(0.8) translateZ(40px);
		}
	}
	.pzEsfera.r1 {
		top: -400px;
		transform: rotateX(-66deg) rotateY(0deg) scale(0.8) translateZ(40px);
		animation: c1 2600ms cubic-bezier(.7,-0.01,.3,1) 0ms infinite;
	}
	@keyframes c2 {
		0%{
			top: -350px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.1) translateZ(30px);
		}
		35%{
			border: 2px solid #00927a;
		}
		50%{
			top: -370px;
			border: 2px solid #00ffd5;
			transform: rotateX(-66deg) rotateY(0deg) scale(1) translateZ(30px);
		}
		65%{
			border: 2px solid #00927a;
		}
		100%{
			top: -350px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.1) translateZ(30px);
		}
	}
	.pzEsfera.r2 {
		top: -350px;
		transform: rotateX(-66deg) rotateY(0deg) scale(1.1) translateZ(30px);
		animation: c2 2600ms cubic-bezier(.7,-0.01,.3,1) 100ms infinite;
	}
	@keyframes c3 {
		0%{
			top: -300px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.3) translateZ(20px);
		}
		35%{
			border: 2px solid #00927a;
		}
		50%{
			top: -320px;
			border: 2px solid #00ffd5;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.2) translateZ(20px);
		}
		65%{
			border: 2px solid #00927a;
		}
		100%{
			top: -300px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.3) translateZ(20px);
		}
	}
	.pzEsfera.r3 {
		top: -300px;
		transform: rotateX(-66deg) rotateY(0deg) scale(1.3) translateZ(20px);
		animation: c3 2600ms cubic-bezier(.7,-0.01,.3,1) 200ms infinite;
	}
	@keyframes c4 {
		0%{
			top: -250px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.4) translateZ(10px);
		}
		35%{
			border: 2px solid #00927a;
		}
		50%{
			top: -270px;
			border: 2px solid #00ffd5;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.3) translateZ(10px);
		}
		65%{
			border: 2px solid #00927a;
		}
		100%{
			top: -250px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.4) translateZ(10px);
		}
	}
	.pzEsfera.r4 {
		top: -250px;
		transform: rotateX(-66deg) rotateY(0deg) scale(1.4) translateZ(10px);
		animation: c4 2600ms cubic-bezier(.7,-0.01,.3,1) 300ms infinite;
	}
	@keyframes c5 {
		0%{
			top: -200px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.45);
		}
		35%{
			border: 2px solid #00927a;
		}
		50%{
			top: -220px;
			border: 2px solid #00ffd5;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.35);
		}
		65%{
			border: 2px solid #00927a;
		}
		100%{
			top: -200px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.45);
		}
	}
	.pzEsfera.r5 {
		animation: c5 2600ms cubic-bezier(.7,-0.01,.3,1) 400ms infinite;
	}
	@keyframes c6 {
		0%{
			top: -150px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.4) translateZ(-10px);
		}
		35%{
			border: 2px solid #00927a;
		}
		50%{
			top: -170px;
			border: 2px solid #00ffd5;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.3) translateZ(-10px);
		}
		65%{
			border: 2px solid #00927a;
		}
		100%{
			top: -150px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.4) translateZ(-10px);
		}
	}
	.pzEsfera.r6 {
		top: -150px;
		transform: rotateX(-66deg) rotateY(0deg) scale(1.4) translateZ(-10px);
		animation: c6 2600ms cubic-bezier(.7,-0.01,.3,1) 500ms infinite;
	}
	@keyframes c7 {
		0%{
			top: -100px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.3) translateZ(-20px);
		}
		35%{
			border: 2px solid #00927a;
		}
		50%{
			top: -120px;
			border: 2px solid #00ffd5;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.2) translateZ(-20px);
		}
		65%{
			border: 2px solid #00927a;
		}
		100%{
			top: -100px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.3) translateZ(-20px);
		}
	}
	.pzEsfera.r7 {
		top: -100px;
		transform: rotateX(-66deg) rotateY(0deg) scale(1.3) translateZ(-20px);
		animation: c7 2600ms cubic-bezier(.7,-0.01,.3,1) 600ms infinite;
	}
	@keyframes c8 {
		0%{
			top: -50px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.1) translateZ(-30px);
		}
		35%{
			border: 2px solid #00927a;
		}
		50%{
			top: -70px;
			border: 2px solid #00ffd5;
			transform: rotateX(-66deg) rotateY(0deg) scale(1) translateZ(-30px);
		}
		65%{
			border: 2px solid #00927a;
		}
		100%{
			top: -50px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(1.1) translateZ(-30px);
		}
	}
	.pzEsfera.r8 {
		top: -50px;
		transform: rotateX(-66deg) rotateY(0deg) scale(1.1) translateZ(-30px);
		animation: c8 2600ms cubic-bezier(.7,-0.01,.3,1) 700ms infinite;
	}
	@keyframes c9 {
		0%{
			top: 0px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(0.8) translateZ(-40px);
		}
		35%{
			border: 2px solid #00927a;
		}
		50%{
			top: -20px;
			border: 2px solid #00ffd5;
			transform: rotateX(-66deg) rotateY(0deg) scale(0.7) translateZ(-40px);
		}
		65%{
			border: 2px solid #00927a;
		}
		100%{
			top: 0px;
			border: 2px solid #090e10;
			transform: rotateX(-66deg) rotateY(0deg) scale(0.8) translateZ(-40px);
		}
	}
	.pzEsfera.r9 {
		top: 0px;
		transform: rotateX(-66deg) rotateY(0deg) scale(0.8) translateZ(-40px);
		animation: c9 2600ms cubic-bezier(.7,-0.01,.3,1) 800ms infinite;
	}





.colorPrincipal{
	color: var(--colorPrincipal) !important;
}

	
/* ==========================================================================
	Estilos visiales del sitio.
========================================================================== */
#fondo_body{
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
#loading{
	width: 100%;
	height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0px;
	top: 0px;
	background: var(--colorBackDark) /*url(../img/ajax.webp)*/ no-repeat center center;
	z-index: 999999;
	transition: all 1s ease-in-out;
}
	#loadingBoxMain {
		width: 126px;
		height: auto;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
		#boxCerveza {
			width: 126px;
			height: 126px;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
		}

			#textoListaDisfrutar {
				font-size: 26px;
				position: absolute;
				width: 100%;
				text-align: center;
				white-space: nowrap;
				color: white;
				margin-top: 168px;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 800ms cubic-bezier(.05,.36,.19,.98);
			}
			#textoListaDisfrutar.ocultoUp{
				transform: scale(2.5);
				opacity: 0;
			}
		#boxLoadingContador {
			width: 126px;
			height: 126px;
			margin-top: 62px;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
		}
			@keyframes loginCirculoOut {
				0%{
					transform: scale(1.2);
					opacity: 1;
				}
				100%{
					transform: scale(.6);
					opacity: 0;
				}
			}
			#loadingCirculoAni {
				position: absolute;
				/* animation: loginCirculoOut 600ms cubic-bezier(.35,-1.22,.01,1.17) 100ms 1; */
			}
				#loadingCirculoAni g path {
					stroke: var(--colorPrincipal);
					stroke-width: 6px;
					stroke-dashoffset: 884px;
					transition: all 200ms linear;
					opacity: 0;
				}
			#porcentajeNumero {
				color: white;
				position: relative;
				font-size: 24px;
				position: absolute;
			}
#scrollIcono {
	display: flex;
	justify-self: center;
	position: absolute;
	width: 30px;
	height: 50px;
	left: auto;
	top: auto;
	bottom: 14%;
	right: 6%;
	border-radius: 15px;
}
	#scrollIcono::before {
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		border: 2px solid var(--colorSecundario);
		border-radius: 15px;
	}
	@keyframes scroll {
		0%{
			opacity: 0;
			clip-path: inset(51px -1px -5px -1px);
		}
		15%{
			opacity: 1;
		}
		35%{
			opacity: 1;
		}
		50%{
			opacity: 0;
			clip-path: inset(-5px -1px 51px -1px);
		}
		100%{
			opacity: 0;
			clip-path: inset(-5px -1px 51px -1px);
		}
	}
	#scrollIcono::after {
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		border: 2px solid var(--colorPrincipal);
		border-radius: 15px;
		clip-path: inset(-1px -1px -1px -1px);
		animation: scroll 4s cubic-bezier(.7,-0.01,.3,1) infinite;
	}
	@keyframes scrollTouch {
		0%{
			opacity: 0;
			top: 30px;
		}
		10%{
			opacity: 1;
		}
		40%{
			opacity: 1;
		}
		50%{
			opacity: 0;
			top: 10px;
		}
		100%{
			opacity: 0;
		}
	}
	#scrollTouch {
		width: 10px;
		height: 10px;
		display: block;
		position: absolute;
		border-radius: 50%;
		background-color: var(--colorPrincipal);
		top: 30px;
		animation: scrollTouch 4s cubic-bezier(.7,-0.01,.3,1) infinite;
	}

			
#container0{
	width: 100%;
	min-height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	overflow: hidden;
}
	#container1{
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0px;
		left: 0px;
	}

@keyframes logo {
	0% {
		-webkit-transform: rotateZ(10deg);
		-moz-transform: rotateZ(10deg);
		transform: rotateZ(10deg);
	}
	100% {
		-webkit-transform: rotateZ(-10deg);
		-moz-transform: rotateZ(-10deg);
		transform: rotateZ(-10deg);
	}
}
#logoJuan{
	position: fixed;
	left: 5%;
	top: 0px;
	width: 20vw;
	height: 20vw;
	max-width: 120px;
	max-height: 120px;
	z-index: 999977;
	cursor: pointer;
	transition: all 300ms ease-in-out;
	transform-origin: 50% 0%;
	animation: logo 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
	#logoJuan img{
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center top;
	}
h1 {
	position: absolute;
	top: 69vh;
	left: 8%;
	font-size: 11vw;
	color: white;
	text-transform: uppercase;
	width: 84%;
}
	h1 span {
		font-size: 49%;
		color: var(--colorPrincipal);
		display: block;
	}
	h1::after {
		content: 'Diseño Gráfico, 3D, Fotografía, Programación y más...';
		font-size: 38%;
		display: block;
		width: 68%;
		margin-top: 1rem;
	}

		
#timeline1{
	width: 100%;
	height: 2400vh;
	background-color: transparent;
	margin: 115vh 0;
	/* transition: all 1400ms cubic-bezier(0.075, 0.82, 0.165, 1); */
}
	#home_hola_box{
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0px;
		left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
		
		.hhola, .hhola .anibox,
		.hhola, .hhola .anibox > div{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
			.hhola .anibox > img,
			.hhola .anibox > div > img{
				width: 118%;
				height: 118%;
				position: absolute;
				object-fit: cover;
				object-position: center;
				/* left: -9%;
				top: -9%; */
			}
			#hhola4 > .anibox > div > span {
				font-family: 'Sen', sans-serif;
				font-weight: 700;
				font-size: 3vw;
				text-align: right;
				color: white;
				margin-top: -50vh;
				position: relative;
				text-transform: uppercase;
			}
				#hhola4 span span {
					font-size: 156%;
					line-height: 1;
				}
			@keyframes hola5{
				0% {
					transform: translate3d(1.2%,0%,0);
				}
				100% {
					transform: translate3d(-1.2%,0%,0);
				}
			}
			@keyframes hola4{
				0% {
					transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
				}
				100% {
					transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
				}
			}
			@keyframes hola3{
				0% {
					transform: translate3d(0,1.2%,0);
				}
				100% {
					transform: translate3d(0,-1.2%,0);
				}
			}
			@keyframes hola2{
				0% {
					transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
				}
				100% {
					transform: rotateZ(-360deg) translate3d(0,1%,0) rotateZ(360deg);
				}
			}
			/* #hhola5 .anibox > img:first-child{
				animation: hola5 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 10ms infinite alternate;
			}
			#hhola4 .anibox > img:first-child{
				animation: hola4 4.6s linear 10ms infinite;
			}
			#hhola3 .anibox > img:first-child{
				animation: hola3 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 10ms infinite alternate;
			}
			#hhola2 .anibox > img:first-child{
				animation: hola2 4.6s linear 10ms infinite;
			} */
	
	
	#home_bosque_box{
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0px;
		left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
		#hbosque7P, #hbosque6P, #hbosque5juanP, #hbosque4P{
			mix-blend-mode: screen;
		}
		.hbosque, .hbosque .anibox{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			display: flex;
			justify-content: center;
			align-items: center;
			/* transform: scale(0.8) translateY(-14%); */
		}
			.hbosque .anibox > img{
				width: 120%;
				height: 120%;
				position: absolute;
				object-fit: cover;
				object-position: center;
				/* left: -10%;
				top: -10%; */
				
			}
			@keyframes bosque2 {
				0% {
					-webkit-transform: rotateZ(1deg);
					-moz-transform: rotateZ(1deg);
					transform: rotateZ(1deg);
				}
				100% {
					-webkit-transform: rotateZ(-1deg);
					-moz-transform: rotateZ(-1deg);
					transform: rotateZ(-1deg);
				}
			}
			@keyframes bosque3 {
				0% {
					transform: translate3d(0.5%,0%,0);
				}
				100% {
					transform: translate3d(-0.5%,0%,0);
				}
			}
			@keyframes bosque4 {
				0% {
					transform: translate3d(0%,1%,0);
				}
				100% {
					transform: translate3d(0%,-1%,0);
				}
			}
			@keyframes bosque5 {
				0% {
					transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
				}
				100% {
					transform: rotateZ(-360deg) translate3d(0,1%,0) rotateZ(360deg);
				}
			}
			@keyframes bosque5P {
				0% {
					opacity: 0.3;
				}
				100% {
					opacity: 1;
				}
			}
			@keyframes bosque7P {
				0% {
					opacity: 0.2;
				}
				10% {
					opacity: 0.4;
				}
				15% {
					opacity: 0.3;
				}
				20% {
					opacity: 0.5;
				}
				25% {
					opacity: 0.3;
				}
				30% {
					opacity: 0.5;
				}
				35% {
					opacity: 0.4;
				}
				100% {
					opacity: 0.5;
				}
			}
			@keyframes bosque7 {
				0% {
					transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
				}
				100% {
					transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
				}
			}
			
			#hbosque2 .anibox > img:first-child{
				transform-origin: 50% 80%;
				/* animation: bosque2 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); */
			}
			/* #hbosque3 .anibox > img:first-child{
				animation: bosque3 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 10ms infinite alternate;
			}
			#hbosque4 .anibox > img:first-child{
				animation: bosque4 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 10ms infinite alternate;
			}
			#hbosque5juanP .anibox > img:first-child{
				animation: bosque5P 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 10ms infinite alternate;
			}
			#hbosque6 .anibox > img:first-child{
				animation: hola4 5.6s linear 10ms infinite;
			}
			#hbosque6P .anibox > img:first-child{
				animation: bosque7P 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 10ms infinite alternate;
			}
			#hbosque7P .anibox > img:first-child{
				animation: bosque7P 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 10ms infinite alternate;
			}
			#hbosque7 .anibox > img:first-child{
				animation: hola4 4.6s linear 10ms infinite;
			} */

			#textoBosque1{
				position: absolute;
				color: white;
				text-align: left;
				width: 56vw;
				font-family: 'Sen', sans-serif;
				font-weight: 700;
				font-size: 3vw;
				text-transform: uppercase;
			}
				#textoBosque1 div, #textoBosque2 div{
					opacity: 0;
					position: relative;
				}
				#textoBosque1 div:nth-child(1){
					font-family: 'Sen', sans-serif;
					font-weight: 700;
					text-transform: uppercase;
					font-size: 86%;
					width: 88%;
				}
				#textoBosque1 div:nth-child(2){
					color: var(--colorBackDark);
					font-weight: 900;
					font-size: 110%;
					text-shadow: 0 3px 11px rgb(255 255 255 / 50%);
				}
					#textoBosque1 div:nth-child(2) .colorPrincipal{
						text-shadow: 1px 5px 6px rgb(0 0 0 / 78%);
					}
				#textoBosque1 div:nth-child(3){
					font-family: 'Barlow Condensed', sans-serif;
					font-weight: 400;
					font-size: 2.2vw;
					text-transform: uppercase;
				}

				#textoBosque2 {
					position: absolute;
					color: white;
					text-align: left;
					width: 56vw;
					font-family: 'Sen', sans-serif;
					font-weight: 700;
					font-size: 3vw;
					text-transform: uppercase;
				}
					#textoBosque2 div:nth-child(1) {
						letter-spacing: normal;
					}		
					#textoBosque2 h2 {
						font-family: 'Sen', sans-serif;
						font-weight: 900;
						font-size: 6vw;
						text-transform: uppercase;
						color: var(--colorBackDark);
						letter-spacing: -3px;
						text-shadow: 0 3px 11px rgb(255 255 255 / 50%);
					}
						#textoBosque2 h2 .colorPrincipal{
							text-shadow: 1px 5px 6px rgb(0 0 0 / 78%);
						}
						
					#textoBosque2 div:nth-child(3){
						font-family: 'Barlow Condensed', sans-serif;
						font-weight: 400;
						font-size: 2.2vw;
						text-transform: uppercase;
					}

					
					
	#home_pradera_box{
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0px;
		left: 0px;
		display: block;
		overflow: hidden;
		display: none;
	}
		#home_pradera_box > div,
		#home_pradera_box > div > div{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			display: block;
		}
			#home_pradera_box > div > div{
				display: flex;
				justify-content: center;
				align-items: center;
			}
			#home_pradera_box > div > div > .sizeBox{
					width: 120%;
					height: 120%;
					position: absolute;
				}
				#home_pradera_box > div > div > .sizeBox img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					position: absolute;
				}
				@keyframes nubes {
					0%{
						background-position: 0vh center;
					}
					100%{
						background-position: calc((100vh * (1.6 * 2)) * -1) center;
					}
				}
				#p1nubes{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0px;
					left: 0px;
					display: block;
					background: transparent url(../img/home_hola/p1.webp) no-repeat left center;
					background-size: calc(100vh * (1.6 * 3)) 100vh;
					animation: nubes 260s linear infinite;
				}
				@keyframes pajaros {
					0%{
						transform: translateX(0) scale(0.3);
						opacity: 0.8;
					}
					62%{
						transform: translateX(130vw) scale(0.1);
						opacity: 0.4;
					}
					100%{
						transform: translateX(130vw) scale(0.1);
						opacity: 0.4;
					}
				}
				#hpradera1 > div > img{
					position: absolute;
					transform-style: preserve-3d;
					transform: scale(0.3);
					left: -80%;
					top: 20vh;
					opacity: 0.8;
					animation: pajaros 65s linear 14s infinite;
				}
				#hpradera6 > div > .sizeBox {
					display: flex;
					justify-content: center;
					align-items: center;
				}
					@keyframes brisaPradera {
						0%{
							transform: skewX(3deg);
						}
						100%{
							transform: skewX(-3deg);
						}
					}
					#hpradera5 > div > .sizeBox img{
						transform-origin: 50% 90%;
						animation: brisaPradera 5s ease-in-out 800ms infinite alternate;
					}
					@keyframes arbol {
						0%{
							transform: translateX(calc(120vh * .2225)) translateY(calc(120vh * .11)) skewX(12deg);
						}
						100%{
							transform: translateX(calc(120vh * .2225)) translateY(calc(120vh * .11)) skewX(10deg);
						}
					}
					#p6arbol{
						width: calc(63.25vh * 1.2);
						height: calc(49.313vh * 1.2);
						display: block;
						position: absolute;
						transform-origin: 50% 100%;
						animation: arbol 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 10ms infinite alternate;
					}
						#p6ahojas{
							width: 100%;
							height: 68.948%;
							display: block;
							position: absolute;
						}
							@keyframes hoja1 {
								0%{
									transform: translateY(1%) scale(.98) skewX(2deg);
								}
								50%{
									transform: scale(1);
								}
								100%{
									transform: translateY(-1%) scale(1.02) skewX(-2deg);
								}
							}
							#p6ahojas img:nth-child(1){
								animation: hoja1 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0ms infinite alternate;
							}
							@keyframes hoja2 {
								0%{
									transform: translateX(1.5%) scale(.97);
									opacity: 1;
								}
								50%{
									transform: scale(1.01);
									opacity: 0.4;
								}
								100%{
									transform: translateX(-1.5%) scale(.97);
									opacity: 1;
								}
							}
							#p6ahojas img:nth-child(2){
								animation: hoja2 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0ms infinite alternate;
							}
							@keyframes hoja3{
								0% {
									transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
								}
								100% {
									transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg);
								}
							}
							#p6ahojas img:nth-child(3){
								animation: hoja3 4.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 10ms infinite;
							}
							@keyframes hoja4{
								0% {
									transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg);
								}
								100% {
									transform: rotateZ(-360deg) translate3d(0,1%,0) rotateZ(360deg);
								}
							}
							#p6ahojas img:nth-child(4){
								animation: hoja4 3.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 10ms infinite;
							}
							@keyframes hoja4{
								0% {
									transform: translateX(0%) skewX(0deg);
								}
								5%{
									transform: translateX(1%) skewX(1deg);
								}
								10%{
									transform: translateX(-1%) skewX(-1deg);
								}
								15%{
									transform: translateX(1%) skewX(1deg);
								}
								20%{
									transform: translateX(-1%) skewX(-1deg);
								}
								25%{
									transform: translateX(1%) skewX(1deg);
								}
								30%{
									transform: translateX(-1%) skewX(-1deg);
								}
								35%{
									transform: translateX(0%) skewX(0deg);
								}
								100% {
									
								}
							}
							#p6ahojas img:nth-child(4){
								animation: hoja4 28.6s ease-in-out 10ms infinite;
							}
							@keyframes hoja5{
								0%{
									transform: translateX(-5px);
									opacity: 1;
								}
								100%{
									transform: translateX(5px);
									opacity: .8;
								}
							}
							#p6ahojas img:nth-child(5){
								animation: hoja5 2.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 10ms infinite alternate;
							}
					@keyframes hierva7 {
						0%{
							transform: skewX(6deg) translateX(-5px);
						}
						100%{
							transform: skewX(-6deg) translateX(5px);
						}
					}
					#hpradera7 > div > .sizeBox img{
						transform-origin: 50% 100%;
						animation: hierva7 4s ease-in-out 80ms infinite alternate;
					}
					@keyframes hierva8 {
						0%{
							transform: skewX(-6deg) translateX(-5px);
						}
						100%{
							transform: skewX(6deg) translateX(5px);
						}
					}
					#hpradera8 > div > .sizeBox img{
						transform-origin: 50% 100%;
						animation: hierva8 4s ease-in-out 80ms infinite alternate;
					}

	


	#permisionFire{
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 999988;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--colorBackDark);
		transition: all 500ms ease-in-out;
	}
		div#permisionFire::before {
			content: "";
			display: block;
			width: 200px;
			height: 100px;
			background-image: url(../img/posicion_celular.svg);
			margin-bottom: 1em;
		}
		#permisionFire::after{
			content: "Toca la pantalla";
			text-transform: uppercase;
			font-size: 5vw;
			color: white;
			font-weight: 300;
			letter-spacing: 4px;
			text-shadow: 1px 5px 6px rgb(0 0 0 / 88%);
			transition: all 500ms ease-in-out;
		}



	/* div#timeline1::after {
		content: "";
		border: 1px solid red;
		display: block;
		position: absolute;
		z-index: 999999999999;
		width: 100%;
		height: 2400vh;
	} */




/* ==========================================================================
	Estilos para un espect ratio de 8:5
========================================================================== */
@media (min-aspect-ratio: 8/5) {
	@keyframes nubes {
		0%{
			background-position: 0vw center;
		}
		100%{
			background-position: -200vw center;
		}
	}
	#p1nubes{
		background-size: 300vw calc(100vw * .625);
		/* animation: nubes2 260s linear infinite; */
	}
	@keyframes arbol {
		0%{
			transform: translateX(calc(120vh * .13906)) translateY(calc(120vh * .06875)) skewX(12deg);
		}
		100%{
			transform: translateX(calc(120vh * .13906)) translateY(calc(120vh * .06875)) skewX(10deg);
		}
	}
	#p6arbol{
		width: calc(39.53vw * 1.2);
		height: calc(30.82vw * 1.2);
	}
}






/* ==========================================================================
	Estilos para un espect de pie
========================================================================== */
@media screen and (orientation:portrait){
	#hhola4 > .anibox > div > span {
		font-size: 5vh;
	}
	#textoBosque1, #textoBosque2{
		width: 68vw;
		font-size: 4.7vh;
	}
		#textoBosque1 div:nth-child(3), #textoBosque2 div:nth-child(3){
			font-weight: 100;
			font-size: 2.4vh;
		}
		#textoBosque2 div:nth-child(1) {
			font-size: 60%;
		}
		#textoBosque2 div:nth-child(2) h2 {
			font-size: 7.7vh;
		}
}







/* ==========================================================================
	Estilos para un espect de acostado
========================================================================== */
@media screen and (orientation:landscape){
	#logoJuan {
		width: 20vh;
		height: 20vh;
	}
	h1 {
		top: 69vh;
		left: 10%;
		font-size: 8vh;
		width: 80%;
	}
}


/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 980px){
	
	h1 {
		top: 52vh;
		font-size: 5vw;
	}
	#textoBosque1, #textoBosque2{
		width: 68vw;
		font-size: 4.4vw;
	}
		#textoBosque1 div:nth-child(3), #textoBosque2 div:nth-child(3){
			font-weight: 100;
			font-size: 2.6vw;
		}
		#textoBosque2 div:nth-child(1) {
			font-size: 60%;
		}
		#textoBosque2 div:nth-child(2) h2 {
			font-size: 6.5vw;
		}
}








/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1600px) {

}









/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1280px) {

}







/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1024px) {

}






/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (min-width: 846px) {
	h1::after {
		content: 'Diseño Gráfico, 3D, Fotografía, Programación y más...';
		font-size: 28%;
	}
}








/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 846px) {
	:root{
		--margenAncho: 90%;
		--margenPadding: 2em;
	}
}









/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 640px) {
	
}










/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 480px) {
	
}










/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 360px) {
	
}










